BASE_WEB_URL=https://yourserver.example.com
CLOUDFLARE_TURNSTILE_KEY=
CLOUDFLARE_TURNSTILE_SECRET=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_KEY=
HASH_SALT=
FOLDER_PREFIX=0
MAXIMUM_UPLOAD_SIZE_MB=5
ALLOW_NEW_USERS=true
USE_SHORT_URLS=false
